@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

p.serif{font-family:"Times New Roman",Times,serif;}
p.sansserif{font-family:Arial,Helvetica,sans-serif;}

HR{
    margin-left: 1.2%;
    margin-right: 1.2%;
}

/*A General Header Setting of webpage*/
#myHeader{
    font-family:Arial,Helvetica,sans-serif;
    color: black;
    font-size:22px;
    margin-left: 1.2%;
    font-weight:900
  }

.homelink{
    text-decoration: none
}

.subtitle {
    font-size:20px;
    color: rgb(84, 84, 84);
}

h1>p{
    font-family:Arial,Helvetica,sans-serif;
    font-weight:600;
    font-size:11px;
    color: rgb(126, 126, 126);}

h1>p>a{
  font-weight:100;
  color: rgb(1, 1, 1);}

/* visited link */
a:visited {
    color: #080808;
}

a:hover {
    color: #808080;
}
/* selected link */
a:active {
    color: #2c2c2c;
}

h2>p {
    font-size:17px;
    color: rgb(13, 3, 13);
    text-align: center;
    font-weight:500
}

/*Nav bar setting*/
.nav-header {
    list-style-type: none;
    font-size: 10pt;
    position: absolute;
    right: 1.2%;
    top: 4pt;
    display: inline-block;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

li{
    float:left;
}

li a:hover:not(.active) {
    background-color: rgba(211, 211, 211, 0);
}

li a{
    display: inline-block;
    color: #000000;
    block-size: min-content;
    margin-right: 12pt;
    margin-left: 12pt;
    background-color: #ffffff;
}

li a.t_active {
    /*display: inline-block;*/
    border-bottom:1px solid #0a0909;
    font-weight: 600;
}

.dropdown
{
    display:inline-block;
}

li a, .dropbtn
{
    display:inline-block;
    color: #000000;
    text-align:center;
    padding:14px 15px;
    text-decoration:none;
}

.dropdown-content
{
    display:none;
    font-size: 8pt;
    background-color:#f9f9f9;
    max-width:99px;
}

.dropdown-content a
{
    color: #1e1e1e;
    text-align: center;
    padding:16px 6px;
    max-width: 99px;

    text-decoration:none;
    display:block;
}

div a.sub_active{
    display:block;
    color: #000000;
    font-weight: 600;
    text-decoration:none;
}

.dropdown-content a:hover {
    background-color: rgba(215, 213, 213, 0.59)
}

.dropdown:hover .dropdown-content
{
    display:block;
}

div a.t_active{
    display:inline-block;
    color: #000000;
    font-weight: 600;
    padding:14px 16px;
    text-decoration:none;
    border-bottom:1px solid #0a0909;
}



/*Single project cover at homepage*/
.book {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  padding: 8pt;
  margin-left: 1.2%;
  margin-right: 1.2%;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 5px rgba(252, 252, 252, 0.2);
}

@media screen and (max-width: 1200px) {
  .book {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 93.8%;
  margin: 1.2%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(252, 252, 252, 0.2);
}

}

.book:hover{background-color: rgba(208, 208, 208, 0.3);}
.book:active{box-shadow: none;}

.book .author,
.book .title,
.book .book-info
{
    font-size: 13px;
    margin: 0;
}

.book .title{
    font-weight: 600;
    margin: 5px auto;
    font-size: 25px;
}

.book .cover{
    height: 100%;
    width: 100%;
    display: block;
    margin: 12px auto;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

.book .book-info
{
    color: #555;
    font-size: 6pt;
}

.book .author{
    color: #2c2c2c;
    font-size: 13px;
}

.book .desc{
    color: #2c2c2c;
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
}


/*Biograph setting*/
span a:hover:not(.active){
    background: rgba(255, 255, 255, 0);
}

#namecard{
    font-size: 28pt;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Edwardian Script ITC", serif ;
}
#word{
    font-size: 19pt;
    font-weight: 500;
    padding-bottom: 0;
    font-family: "Edwardian Script ITC", serif ;
}

.biograph p{
    max-width: 75%;
    font-family: "Times New Roman", Times, serif;
    font-size: 13pt;
}

.wrapper {
    display: inline-block;
    list-style: none;
    margin-right: 33pt;
    padding-bottom: 10pt;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    margin: 15px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #ec4aab;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0278b6;
    color: #ffffff;
}

.wrapper .envelope:hover,
.wrapper .envelope:hover .tooltip,
.wrapper .envelope:hover .tooltip::before {
    background: rgb(130, 130, 130);
    color: #ffffff;
}

/*project individual part*/
.project_bio p{
    max-width: 37%;
    font-family: "Times New Roman", Times, serif;
    font-size: 10pt;
}

#project_name{
    font-size: 30pt;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Edwardian Script ITC", serif ;
}


/*individual photos*/
.photo {
  display: inline-block;
  vertical-align: top;
  height: 210px;
  width: 282px;
  margin: 5px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(252, 252, 252, 0.2);
}

.photo:hover{background-color: rgba(208, 208, 208, 0.3);}
.photo:active{box-shadow: none;}

.photo .author,
.photo .title,
.photo .photo-info
{

    margin: 0;
}

.photo .cover{
    height: 190px;
    width: 282px;
    display: inline-flex;
    margin: 2px auto;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

div span.publisher
{
    font-family:Arial,Helvetica,sans-serif;
    color: #555;
    font-size: 8px;
}

/*this is the setting for contact page*/
p.word_contact{
    font-size: 25pt;
    font-weight: 500;
    padding-bottom: 0;
    font-family: "Edwardian Script ITC", serif ;
}

p a.contact{
    font-size: 12pt;
    padding: -10pt;
    color: #000000;
}

#resume{
    color: #0278b6;
}